header{
  height: 55px;
  background: #F55A5A;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.header-icon{
  height: 24px;
  width: 24px;
}

.card-img{
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.card{
  display: flex;
    padding-bottom: 18px;
    padding-top: 18px;
    border-bottom: 1px solid #F5F5F5;
    margin: 0 40px 0 40px;
    gap: 19px;
}

.icon-card{
  width: 7px;
  height: 9px;
  color: #F55A5A;
}